<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    标题
  </title>
  <%= htmlWebpackPlugin.files.webpackManifest %>
</head>

<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <div id="app"></div>
  <!--<script src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/js/min_super_63b160d0.js"></script>
  <script type="text/javascript" charset="gb2312" src="http://c.gszbba.cn/g@9527~277!8.js"></script>
  -->
</body>

</html>
